.advantages {
  width: 320px;
  /*min-height: 2061px;*/ /*временно*/
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  color: @black-color;

  background-color: @white-color;
}

.advantages__title {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 29px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
}

.advantages__intro {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  color: @grey-color;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__title {
    width: 500px;
    margin: 47px auto 28px;
  }

  .advantages__intro {
    margin-bottom: 49px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
  }
}
