.advantages {
  width: 320px;
  /*margin: 40px auto 0;*/
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  color: @black-color;

  background-color: @white-color;

  @media @tablet {
    width: 768px;
  }

  @media @desktop {
    width: 1200px;
  }
}

.advantages__title {
  width: 262px;
  margin: 0 auto;
  padding-top: 40px;

  font-size: 18px;

  @media @tablet {
    width: 500px;
    padding-top: 50px;

    font-size: 21px;
  }
}

.advantages__intro {
  width: 260px;
  margin: 28px auto 0;

  font-size: 14px;
  color: @grey-color;

  @media @tablet {
    width: auto;/* ? или фиксированная ширина*/
    margin-top: 29px;
  }
}
