.booking {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  color: @black-color;
  background-color: @white-color;

  @media @tablet {
    width: 768px;

    font-size: 21px;
  }

  @media @desktop {
    width: 1200px;
  }
}

.booking__wrapper {
  width: 280px;
  margin: 0 auto;

  @media @tablet {
    width: 458px;
  }
}

.booking__question {
  margin: 0;
  padding-top: 27px;

  @media @tablet {
    padding-top: 55px;
  }
}

.booking__instruction {
  padding-top: 7px;
  line-height: 24px;


  color: @grey-color;

  @media @tablet {
    padding-top: 18px;

    font-size: 14px;
  }
}

.booking__map {
  position: relative;
  margin-top: 49px;

  @media @tablet {
    margin-top: 58px;
  }

  @media @desktop {
    margin-top: 66px;
    width: 100%;
  }
}

.booking__map-image {
  @media @tablet {
    width: 768px;
    height: 350px;
  }

  @media @desktop {
    width: 1200px;
  }
}

.booking__interactive {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 350px;
}
