.button {
  padding-top: 16px;
  padding-bottom: 15px;

  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  color: @white-color;


  border: none;
  background-color: @blue-color;
  cursor: pointer;

  @media @tablet {
    font-size: 19px;
  }
}

.button--close {
  padding-right: 72px;
  padding-left: 75px;

  @media @tablet {
    padding-right: 155px;
    padding-left: 154px;
  }
}

.button--ok {
  margin-top: 24px;
  margin-bottom: 36px;
  padding-right: 78px;
  padding-left: 78px;

  @media @tablet {
    margin-top: 31px;
    margin-bottom: 49px;
    padding-right: 123px;
    padding-left: 122px;
  }
}
