.copyright {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 42px;
  margin-right: 40px;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: @black-color;

  @media @tablet {
    margin-top: 0;
  }
}

.copyright__htmlacademy {
  position: absolute;
  top: -2px;
  left: 102px;

  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    fill: @blue-color;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}
