.gallery-intro {
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 28px;
  width: 320px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  color: @grey-color;

  background-color: @white-color;

  @media @tablet {
    width: 648px;
    padding-top: 75px;
    padding-bottom: 70px;
  }

  @media @desktop {
    width: 1200px;
    padding-top: 111px;
    padding-bottom: 72px;
  }
}

.gallery-intro__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;

  color: @black-color;

  @media @tablet {
    font-size: 30px;
  }
}

.gallery-intro__question {
  width: 270px;
  margin: 26px auto 0;

  @media @tablet {
    width: 430px;
    margin-top: 30px;
  }
}
