.gallery-intro {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: @grey-color;
}

.gallery-intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: @black-color;
}
