.header-inner {
  min-height: 437px;
  position: relative;
  display: flex;
  flex-direction: column;
  /*временно*/
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 280px;
  background-size: 320px 160px;

  &::before {
    content: "";
    position: absolute;
    top: 412px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    height: 26px;
    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }

  @media @tablet {
    min-height: 346px;
    background-position: center 40px;
    background-size: 768px 305px;

    &::before {
      top: 289px;
      margin-left: -384px;
      width: 768px;
      height: 57px;
      background-image: url("../../img/bg-intro-triangle-tablet.svg");
    }
  }

  @media @desktop {
    min-height: 357px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 316px;

    &::before {
      top: 299px;
      margin-left: -600px;
      width: 1200px;
      height: 57px;
      background-image: url("../../img/bg-intro-triangle-desktop.svg");
    }
  }
}

.header-inner__logo {
  position: absolute;
  top: 223px;
  left: 50%;
  margin-left: -50px;
}
