.list-nav {
  min-height: 225px; /*временно*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*временно*/
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;

  list-style: none;
}

.list-nav__item a {
  text-decoration: none;
  color: @white-color;
}


@media (min-width: @tablet-width) {
  .list-nav {
    min-height: 56px; /*временно*/
    flex-direction: row;
    justify-content: space-between; /*временно*/
  }

  .list-nav__item a {
    color: @black-color;
  }
}
