.photo {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  list-style: none;

  color: @black-color;

  background-color: @white-color;
}

.photo__title {
  margin: 0;
  padding: 0;

  font-size: 14px;
}

.photo__author {
  text-transform: none;
  color: @grey-color;
}

.photo__likes {
  font-weight: 700;
}
