.social {
  position: relative;
  width: 153px;
  display: flex;
  justify-content: space-between;
  margin: 37px auto 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    margin: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: @blue-color;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.social__twitter {
  position: absolute;
  top: 16px;
  left: 15px;

  width: 18px;
  height: 15px;

  fill: @white-color;

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.social__facebook {
  position: absolute;
  top: 14px;
  left: 19px;

  width: 9px;
  height: 19px;

  fill: @white-color;

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}


.social__youtube {
  position: absolute;
  top: 17px;
  left: 12px;

  width: 20px;
  height: 14px;

  fill: @white-color;

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}
