.subfeatures {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  list-style: none;

  color: #333333;

  background-color: #ffffff;
}

.subfeatures__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.subfeatures__description {
  margin: 0;
  padding: 0;
}
